.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list > .item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    padding: 6px 22px;
    border: 0px;
    border-radius: 4px;

    font-family: var(--main-font);
    color: var(--secondary-text-color);
    background-color: var(--filter-button-color);
    box-shadow: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    cursor:pointer;

    transition: color var(--transition-time) var(--transiton-function),
    background-color var(--transition-time) var(--transiton-function),
    box-shadow var(--transition-time) var(--transiton-function);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.examples-list-item {
    margin: 15px;
    box-shadow: none;
    /* flex-basis: calc((100%-60px)/3); */

    transition: box-shadow var(--transition-time) var(--transiton-function);
}

.examples-list-item:hover,
.examples-list-item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.examples-list-item:hover .examples-list-item-overlay-text,
.examples-list-item:focus .examples-list-item-overlay-text {
    transform:translateY(0);
}

.example-list-link {
    color:inherit;
}

.examples-list-item-image-wraper {
    position: relative;

    overflow: hidden;
}

.examples-list-item .text-content {
    padding: 20px 24px;
    border-right: 1px solid var(--portfolio-border-color);
    border-bottom: 1px solid var(--portfolio-border-color);
    border-left: 1px solid var(--portfolio-border-color); 
}

.examples-list-item-image {
    display: block;
}

.examples-list-item-title {
    margin-bottom: 4px;

    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples-list-item-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
 }

 .examples-list-item-overlay {
     position: absolute;
     right: 0;
     bottom: 0;
     height: 100%;
     width:100%;
     padding:63px 24px;

     background-color: rgba(33, 150, 243, 0.9);
     ;

     transform: translateY(100%);

     transition: transform var(--transition-time) var(--transiton-function);
 }

 .examples-list-item-overlay-text {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width:100%;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    overflow: auto;

    color: var(--background-color);
    font-size: 18px;
    line-height: 1.56em;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform var(--transition-time) var(--transiton-function);
 }